img {
    width :100%;
}

body {
    font-family: Arial;
    line-height: 25px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}

.column {
    width:600px;
    margin: 40px auto ;
}